.root{
    -fx-background-image: url('hand.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: Orange;
    -fx-border-width: 0;
    -fx-background-size: 100% 85%;
    -fx-background-color: WHITE;
}

.button{
    -fx-background-color: #3c8047;
    -fx-background-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 0.2;
}
.button:hover{
    -fx-background-color: #356a35;
}
.button:disabled{
    -fx-opacity: 1;
}

.image{
    -fx-padding: 0;
    -fx-margin: 0;
}

.Client-button{
    -fx-background-color: linear-gradient(#fff484, #b5a70c);

    -fx-border-color: black;
    -fx-border-radius: 0;
    -fx-border-width: 5;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}
.Client-button:hover{
    -fx-background-color: linear-gradient(#fff9bc, #ffee3d);
    -fx-border-color: RED;
}

.start-game-title{
    -fx-text-fill: #000000;

    -fx-background-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-border-radius: 0;
    -fx-font-size: 20;
    -fx-font-weight: bold;

    -fx-text-alignment: center;

}